<div class="sidebar-sticky">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" ui-sref-active="active" ui-sref="inicio">
                <span class="feather icon-home"></span>
                Início
                <span class="sr-only"></span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" ui-sref-active="active" ui-sref="carrinhoList">
                <span class="feather icon-shopping-cart"></span>
                Carrinho
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" ui-sref-active="active" ui-sref="pecasList">
                <span class="feather icon-star"></span>
                Peças
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" ui-sref-active="active" ui-sref="clientes">
                <span class="feather icon-users"></span>
                Clientes
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" ui-sref-active="active" ui-sref="materialList">
                <span class="feather icon-circle"></span>
                Materiais
            </a>
        </li>
    </ul>
    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
        <span>Quem somos?</span>
    </h6>
    <ul class="nav flex-column mb-2">
        <li class="nav-item">
            <a class="nav-link" ui-sref-active="active" ui-sref="servicos">
                <span class="feather icon-bar-chart-2"></span>
                Conheça-nos!!
            </a>
        </li>
    </ul>
</div>