<!-- Services -->
<section class="content-section bg-dark text-white text-center" id="services">
    <div class="container">
        <div class="content-section-heading">
            <h1 class="text-secondary mb-0">Quem somos?</h1>
</section>

<div class="content-banner">
    <div class="tarja-top">
        <a class="t1">
            <img src="./banner/T1.jpg" />
        </a>
        <a class="t2 fancybox_atd">
            <img src="./banner/T2.jpg" />
        </a>
        <a class="t3 fancybox_atd">
            <img src="./banner/T3.jpg" />
        </a>
        <a class="t4 fancybox_atd">
            <img src="./banner/T4.jpg" />
        </a>
        <a class="t5 fancybox_atd">
            <img src="./banner/T5.jpg" />
        </a>
    </div>
</div>

<div class="content-banner">
    <div class="tarja-top">
        <a class="loja">

            <h6>
                <br>
                <br>
                <br>
                <h4> Bem-vindos à JERAH BIJOUX!</h4>
                <br> Saiba onde encontrar bijuterias personalizadas do seu jeito!
                
                <br> Em nossa loja de bijuterias, você encontrará mais de 3 mil acessórios femininos e masculinhos super lindos
                para ficar na moda! Temos colares, anéis, brincos, pulseiras, óculos e muito mais.
                <br> A gente ama o que faz e procura oferecer a maior qualidade possível nas peças, com preço competitivo. Quer
                bijuterias baratas e com ótimo acabamento? Então está no lugar certo!
                <br> Aproveite as nossas promoções de bijuteria e os últimos lançamentos.
                <br> Tem alguma ideia para montarmos peças diferentes e ousadas? Encaminhe para nós!!!
        </a>

        <br>
        <br>
        <br>
        <br>
        <br>
    </div>

    <!-- footer -->
    <img src="./banner/3.jpg" />
    <div class="footer">




        <section class="content-section bg-dark text-white text-center" id="apresentacao">
            <div class="row">
                <div class="col-md-4">
                    <span class="col-md-2 form-group">
                        <h2 class="text-secondary mb-0">JERAH</h2>
        
                        <p>O ecommerce de bijoux do seu jeito!</p>
        
                        Jessica Bijouterias-Ltda.
                        <br/> CNPJ: 033355350001-55
                        <br/> Insc. Estadual: 20.333.0555-3
                        <br/>
        
                        <br/>
                    </span>
                </div>
                <div class="col-md-4">
                    <span class="col-md-2 form-group">
                            <h2 class="text-secondary mb-0">Contato</h2>
                            <h6>Telefone/Whatsapp</h6>
                            <p>(48) 99655 - 8327
                                <br>
                                <br>Horário de Funcionamento
                                <br /> Seg à Sex 09h as 18h</p>
                        </span>
                </div>
                <div class="col-md-4">
                        <span class="col-md-2 form-group">
                                <h2 class="text-secondary mb-0">Localização</h2>
                                <p>Endereço: Rua Martinho Silva, 355
                                    <br>Cep: 88818-688
                                    <br /> Rio Maina - Criciúma - SC
                                    <br />
                                </p>
                            </span>
                </div>
            </div>
        </section>

    </div>


</div>



<div class="clearfix"></div>
<br>
<p class="copy-right">&copy 2018 JERAH BIJOUX | TODOS OS DIREITOS RESERVADOS</p>
<br>
<!-- //footer -->